import(ggplot2)
import(scales)
export("converge.estimate",
       "get.estimate",
       "plot.convergence",
       "plot.criterion",
       "read.file",
       "NormalizeText")
exportMethods(
    "Converge",
    "ConvergeCriterion",
    "plot",
    "show"
)
exportClasses("ConvergeEntropy")
