importFrom("methods", "new", "validObject")
importFrom("stats", "aggregate", "sd")
import(ggplot2)
import(scales)
export("stabilize.estimate",
       "get.estimate",
       "plot.stabilization",
       "plot.criterion",
       "read.file",
       "PreprocessText",
       "get.stabilization",
       "get.criterion",
       "IsSubstring")
exportMethods(
    "Stabilize",
    "StabilizeCriterion",
    "plot",
    "show"
)
exportClasses("StabilizeEntropy")
